.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
} 
.header.hide {
  top: -80px; /* hide header */
}

.header.show {
  top: 0; /* show header */
}
 /* Nav Links */
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}  /* Dark Theme Hover */
body.dark-theme .nav-links a:hover {
  color: #4ade80;
}


body.dark-theme .nav-links a {
  color: white;
}
 /* Apply theme to all sections */
body.dark-theme section,
body.dark-theme .home-container,
body.dark-theme .about-container,
body.dark-theme .skills-container,
body.dark-theme .projects-container,
body.dark-theme .contact-container {
  background: linear-gradient(black);
}

